{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.url_shortener'|trans }}
{% endblock %}

{% block body %}
    <h1 class="font-bold mb-4">{{ 'title.url_shortener' }}</h1>

    {{ form_start(form, {'attr': {'class': 'text-center'}}) }}

    <div class="max-w-md mx-auto bg-white">
        <h2 class="text-lg font-semibold mb-4">{{ 'form.title'|trans }}</h2>
        {{ form_widget(form) }}

        <div class="text-center mt-4">
            <input type="submit" value="{{ 'action.shorten_url'|trans }}" class="btn btn-primary"/>
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}
